################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Roguelike/obj/Debug
/Roguelike/bin/Debug
/Roguelike/.vs/Roguelike/v15/Server/sqlite3
/RoguelikeConsoleRunner/bin/Debug
/RoguelikeConsoleRunner/obj/Debug
/RoguelikeUnitTests/bin/Debug
/RoguelikeUnitTests/obj/Debug
/.vs/Roguelike/v15/Server/sqlite3
/DungeonsGenerator/DungeonsGenerator/bin
/DungeonsGenerator/DungeonsGenerator/obj
/Roguelike/obj/OuaDII
/RoguelikeConsoleRunner/obj/OuaDII
/RoguelikeUnitTests/obj/OuaDII
obj
bin
